!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Retiro Nordestão 2010 - 
      = page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %link{ :href => "css/style.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #topPan
      %a{ :href => '/' }
        = image_tag('retiro_nordestao_logo.png')
      %ul
        - site.posts.each do |post|
          %li{:class => "#{'current' if (page.title == post.title)}"}
            %a{ :href => post.url}= post.title
      %ul.dropdown
        %li
          %a{ :href => "http://www.free-css.com/" }
            internal
        %li
          %a{ :href => "http://www.free-css.com/" }
            more info
        %li
          %a{ :href => "http://www.free-css.com/" }
            tips
        %li.verticallinenone
          %a{ :href => "http://www.free-css.com/" }
            purchase
    #bodyContent
      = content
    #footermainPan
      #footerPan
        %ul
          %li
          - site.posts.each do |post|
            %li{:class => "#{'current' if (page.title == post.title)}"}
              %a{ :href => post.url}= post.title
              |
        %p.templateworld
          Design By:
          %a{ :href => "http://www.templateworld.com", :target => "_blank" }
            Template World
