!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Retiro Nordestão 2010 - 
      = page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %link{ :href => "css/style.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "css/jquery.lightbox-0.5.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #topPan
      %a{ :href => '/' }
        = image_tag('retiro_nordestao_logo.png')
      %ul
        - topic_posts do |post|
          %li{:class => "#{'current' if (page.title == post.title)}"}
            %a{ :href => post.url}= post.title
      - if children_posts && !children_posts.empty?
        %ul.dropdown
          - children_posts do |post|
            %li{:class => "#{'current' if (page.title == post.title)}"}
              %a{ :href => post.url}= post.title
    #bodyContent
      = content
    #footermainPan
      #footerPan
        %ul
          %li
          - site.posts.each do |post|
            %li{:class => "#{'current' if (page.title == post.title)}"}
              %a{ :href => post.url}= post.title
              |
        %p.templateworld
          Design By:
          %a{ :href => "http://www.templateworld.com", :target => "_blank" }
            Template World

    = script_tag 'jquery.js'
    = script_tag 'jquery.lightbox-0.5.pack.js'
    = script_tag 'jquery.lightbox.gallery.js'
