!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Retiro Nordestão 2010 - 
      = page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = css_tag 'default.css'
    = css_tag 'green.css'
    = css_tag 'jquery.jcarousel.css'
    = css_tag 'jquery.lightbox-0.5.css'
    = css_tag 'clients_slider.css'
  %body#subpage
    #header-sub
      #top
        %img.logo(src="images/theme/green/logo.png" alt="JustLikeOldTimes")
        #navigation
          %ul#nav
            - topic_posts do |post|
              %li{:class => current_page_class(post)}
                %a{ :href => post.url}= post.title
                - unless children_posts(post).empty?
                  %ul
                    - children_posts(post) do |children_post|
                      %li
                        %a{ :href => children_post.url }= children_post.title
      #middle-sub
        %h1= page.subtitle
    = content
    = script_tag 'jquery.js'
    = script_tag 'jquery.lightbox-0.5.pack.js'
    = script_tag 'jquery.lightbox.gallery.js'

    = script_tag 'cufon-yui.js'
    = script_tag 'fonts/chunk_400.font.js'
    = script_tag 'fonts/goundy-bookletter_400.font.js'
    = script_tag 'fonts/sorts-mill-goudy_500.font.js'

    = script_tag 'init_cufon.js'
    = script_tag 'jquery.cycle.all.js'
    = script_tag 'init_slideshow.js'
